/test export-ignore  
/docs export-ignore
/modules/CPAchecker/.svn export-ignore
/modules/CPAchecker/.idea
/modules/CPAchecker/.settings
/modules/CPAchecker/.pydevproject
/modules/CPAchecker/.project
/modules/CPAchecker/.factorypath.template
/modules/CPAchecker/.classpath
.gitattributes export-ignore  
.gitignore export-ignore

